
#jotto_title{
  text-align: center;
  color: Orange
}

body {
  color: Orange;
  background-color: #4a75e6;
  font-size: 20px;
  height: 200px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;
}
