<!DOCTYPE html>
<html>
  <head>
    <title>Jotto!</title>

    <link rel="stylesheet"  href="css/style.css">
  </head>
  <body>
    <h1 id="jotto_title">Jotto!</h1>
     <div>
     <h2>How to play</h2>
    <h3> You have a word that's n- letters long. You'll have to guess a word
        and if the word you guessed has a letter or more in common with the actual word, then a
         number will appear. That number represents the amount of correct letters
        you guessed.Afterward you can guess the remaining letters.</h3>
    <!-- <button  type="button" style="font: bold 14px Arial class="block";">play</button> -->
    <!-- <button class="button play" style="font: bold 40px Arial">play</button> -->

    <button class="button">play</button>


  </body>
