<!DOCTYPE html>
<html>
  <head>
    <title><h1>Jotto!</h1></title>
    <br>
  </head>
  <body>
    <div id="header">
    <h2>How to play</h2>
    <br>
    <h3>Each of two players selects a secret 4-letter word. The secret word cannot have any pairs of double letters.
Each player takes turns guessing the other player’s secret word, using “test words.” When a player guesses his opponent’s word using a test word, the opponent tells the player exactly how many letters in the test word are the same as a letter in his secret word. If a letter in the secret word matches two letters in the test word (test words may have double letters), it counts as 2 letters.
This continues until one player discovers the other’s secret word</h3>
</div>
