<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet"  href="css/style.css">
  </head>
  <body>
    <h1 id="jotto_title">Jotto!</h1>
     <div>
     <h2>How to play</h2>
    <h3> You have a word that's n- letters long. You'll have to guess a word
        and if the word you guessed has a letter or more in common actual word, then a
         number will appear that represents the amount of correct letters
        you guessed.Afterward you can guess the remain letter.</h3>
    <button type="button" style="font: bold 14px Arial;">play</button>
  </body>
