<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Game Page</title>
  <link rel="stylesheet" href="style_gamePage.css">
  <script src="game_page.js"></script>
</head>
<body>
<div id= "header"> <!--took a lil bit from jotto app -->
  <h1 class= "center" style= "text-align:
    center; color: Orange">Jotto! </h1>
</div>
<h1> Enter your guess: </h1>
 <!--<input type="button" class="button" value="Input Button">not sure what it means -->
<button class="button">Submit</button>
<!-- creates the box that records ur guess and matches -->
<br>
<!-- code for the letterboard -->
<div class= "alpha">
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> A </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> B </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> C </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> D </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> E </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> F </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> G </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> H </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> I </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> J </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> K </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> L </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> M </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> N </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> O </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> P </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> Q </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> R </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> S </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> T </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> U </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> V </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> X </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> Y </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange;"> Z </button>

<br>
<div id= "box" class= "container">
<table id= "table" style= "margin: 0 auto;">
  <tr>
    <th class= "word">Your Guess </th>
    <th class= "matches">Letter Matches </th>
    </table>
    </div>
</body>
