<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Game Page</title>
  <link rel="stylesheet" href="style_gamePage.css">
  <script src="game_page.js"></script>
</head>
<body>
<div id= "header"> <!--took a lil bit from jotto app -->
  <h1 class= "center" style= "text-align:
    center; color: Orange">Jotto! </h1>
</div>
<h1> Enter your guess: </h1>
 <!--<input type="button" class="button" value="Input Button">not sure what it means -->
<button class="button">Submit</button>
<!-- creates the box that records ur guess and matches -->
<br>
<!-- code for the letterboard -->
<div class= "alpha">
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> A </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> B </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> C </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> D </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> E </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> F </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> G </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> H </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> I </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> J </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> K </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> L </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> M </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> N </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> O </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> P </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> Q </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> R </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> S </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> T </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> U </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> V </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> X </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> Y </button>
<button onclick = "highlight(this)" style= "display inline-block; color: Orange; font-size: 20px;"> Z </button>

<br>
</br>
<div id= "box" class= "container">
<table id= "table" style= "margin: 0 auto;">
  <tr>
    <th class= "word">Your Guess </th>
    <th class= "matches">Letter Matches </th>
  </tr>
    </table>
    </div>
</body>
